#intro.text-center.hidden-xs
  %span#leftKey {
  %span#rightKey }
  #typed

%nav#navbarScroll.navbar.navbar-reprograma.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#navbar-collapsed", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.logo-xs{:href => "/"}
        = image_tag "header/logo-reprograma.png", alt: "Logo Reprograma"

    #navbar-collapsed.collapse.navbar-collapse.uppercase
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "#about"} Reprograma
        %li
          %a{:href => "#aboutCourse"} Curso
        %li
          %a{:href => "#subscriptions"} Inscrições
        %li
          %a{:href => "#team"} Equipe
        %li
          %a{:href => "#partners"} Parceiros
        %li
          %a{:href => "https://www.catarse.me/reprograma", target: "_blank"}
            %button.btn.btn-md.btn-primary.uppercase Quero Apoiar

%section.container-fluid.background-header.main-header.parallax
  .row.text-center
    .col-md-6.col-md-offset-3
      .header-container
        %a.text-center{:href => "/"}
          = image_tag "header/logo-reprograma.png", alt: "Logo Reprograma", class:"img-responsive"

        %p.caption
          %strong reprogramando
          a forma como
          %strong mulheres jovens
          %br
          se percebem como contribuidoras
          %br
          %strong no setor de tecnologia

        %a.btn.btn-lg.btn-outline.uppercase.responsive{href: "#subscriptions"} Cadastre-se para as próximas edições

%section#about.container.about.hideme
  .row.text-center
    .col-md-8.col-md-offset-2
      %h3.section-title.uppercase O que é o reprograma?
      %p.description
        Queremos inspirar, empoderar e educar mulheres jovens, por meio de conhecimentos de computação e ferramentas de capacitação profissional.
        %br
        É o nosso desejo que, ao final do programa, nossas alunas possam contribuir da melhor maneira para o setor tecnológico brasileiro, conquistando assim maiores possibilidades para acessar oportunidades profissionais nesse setor.

#callToAction.container-fluid.call-to-action.fade-in-element.hideme
  .row.text-center
    .col-md-3.box
      %p.uppercase Um crescimento rápido e elevado da área de TI
    .col-md-3.box
      %p.uppercase Demanda por desenvolvedores não está sendo suprida
    .col-md-3.box
      %p.uppercase A quantidade de mulheres na área de TI ainda é muito pequena
    .col-md-3.box
      %p.uppercase As soluçoes desenvolvidas não dão conta da diversidade local

%section#aboutCourse.container-fluid.about-course.hideme
  .row.text-center
    .col-md-12
      %h3.section-title.uppercase O curso
      %p Intensivo de 6 semanas para capacitar jovens mulheres

  .row.text-center.goals
    .col-md-4.goal
      = image_tag "icons/goal1.png"
      %p Capacitar mulheres jovens em programação front-end
    .col-md-4.goal
      = image_tag "icons/goal2.png"
      %p Conhecimentos básicos de empreendedorismo e apoio profissional
    .col-md-4.goal
      = image_tag "icons/goal3.png"
      %p Mentoria liderada por profissionais referência na indústria

%section#subscriptions.container.subscriptions.hideme
  .row.text-center
    .col-md-4.col-md-offset-4
      %h3.section-title.uppercase Inscrições
      %p As inscrições estão encerradas para esta etapa :(
      %p Cadastre-se e não perca as próximas edições!

      %form{action: "//reprograma.us13.list-manage.com/subscribe/post?u=5a6287ae3c3b2d9b0cab6c564&id=3b24181b92", method: "post", name: "mc-embedded-subscribe-form", novalidate: "", target: "_blank"}
        .form-group
          %input.form-control.mail{name: "EMAIL", placeholder: "Digite seu email", required: "", type: "email", value: ""}
          %div{"aria-hidden" => "true", style: "position: absolute; left: -5000px;"}
            %input.form-control{name: "b_5a6287ae3c3b2d9b0cab6c564_3b24181b92", tabindex: "-1", type: "text", value: ""}
          %input.btn.btn-lg.btn-primary.uppercase{name: "subscribe", type: "submit", value: "Cadastrar"}

%section#team.container-fluid.team
  .row.text-center
    .col-md-12
      %h3.section-title.uppercase Equipe Reprograma

  .row.text-center.hideme
    .col-md-2.col-xs-6
      %a.thumbnail{href: "", target: "_blank"}
        %figure
          = image_tag "team/adelle.png", alt: "Perfil: Adelle Araujo"
          %figcaption
            %strong Adelle Araújo
            %br
            Professora | UX Designer
    .col-md-2.col-xs-6
      %a.thumbnail{href: "", target: "_blank"}
        %figure
          = image_tag "team/ana.png", alt: "Perfil: Ana Marysa"
          %figcaption
            %strong Ana Marysa
            %br
            UX Designer | Professora
    .col-md-2.col-xs-6
      %a.thumbnail{href: "", target: "_blank"}
        %figure
          = image_tag "team/anna.png", alt: "Perfil: Anna Flávia"
          %figcaption
            %strong Anna Flávia
            %br
            Professora | Developer
    .col-md-2.col-xs-6
      %a.thumbnail{href: "", target: "_blank"}
        %figure
          = image_tag "team/camila.png", alt: "Perfil: Camila Achutti"
          %figcaption
            %strong Camila Achutti
            %br
            Colaboradora | Developer
    .col-md-2.col-xs-6
      %a.thumbnail{href: "", target: "_blank"}
        %figure
          = image_tag "team/carla.png", alt: "Perfil: Carla de Bona"
          %figcaption
            %strong Carla de Bona
            %br
            Professora | UX/UI Designer
    .col-md-2.col-xs-6
      %a.thumbnail{href: "", target: "_blank"}
        %figure
          = image_tag "team/fernanda.jpg", alt: "Perfil: Fernanda Faria"
          %figcaption
            %strong Fernanda Faria
            %br
            Colaboradora | Comunicação

  .row.text-center.hideme
    .col-md-2.col-xs-6
      %a.thumbnail{href: "", target: "_blank"}
        %figure
          = image_tag "team/isabelle.png", alt: "Perfil: Isabelle"
          %figcaption
            %strong Isabelle Galvão
            %br
            Monitora | UX/UI Designer

    .col-md-2.col-xs-6
      %a.thumbnail{href: "", target: "_blank"}
        %figure
          = image_tag "team/juliana.png", alt: "Perfil: Juliana"
          %figcaption
            %strong Juliana Damarque
            %br
            Monitora | Developer
    .col-md-2.col-xs-6
      %a.thumbnail{href: "", target: "_blank"}
        %figure
          = image_tag "team/mariel.png", alt: "Perfil: Mariel Reyes Milk"
          %figcaption
            %strong Mariel Reyes Milk
            %br
            Professora | Fundadora e Diretora
    .col-md-2.col-xs-6
      %a.thumbnail{href: "", target: "_blank"}
        %figure
          = image_tag "team/mateus.png", alt: "Perfil: Mateus Souza"
          %figcaption
            %strong Mateus Chagas
            %br
            Professor | Developer
    .col-md-2.col-xs-6
      %a.thumbnail{href: "", target: "_blank"}
        %figure
          = image_tag "team/otavio.png", alt: "Perfil: Otavio"
          %figcaption
            %strong Otavio Ferreira
            %br
            Colaborador | Developer
    .col-md-2.col-xs-6
      %a.thumbnail{href: "", target: "_blank"}
        %figure
          = image_tag "team/paulo.png", alt: "Perfil: Paulo"
          %figcaption
            %strong Paulo Silveira
            %br
            Professor | Developer

  .row.text-center
    .col-md-2.col-xs-6
      %a.thumbnail{href: "", target: "_blank"}
        %figcaption
          = image_tag "team/samantha.png", alt: "Perfil: Samantha"
          %figcaption
            %strong Samantha Lopes
            %br
            Monitora | Developer

%section#partners.container.partners.hideme
  .row.text-center
    .col-md-12
      %h3.section-title.uppercase Conheça nossos parceiros

  .row.text-center.logos
    .col-md-12
      %a.partner{href: "https://www.nubank.com.br/", target: "_blank", title: "Nubank"}
        = image_tag "partners/nubank.png", alt: "Logo Nubank"
      %a.partner{href: "http://www.mattosfilho.com.br/", target: "_blank", title: "Ymee"}
        = image_tag "partners/mattos.png", alt: "Logo Mattos"
      %a.partner{href: "http://minasprogramam.com/", target: "_blank", title: "Minas Programam"}
        = image_tag "partners/minas.png", alt: "Logo Minas Programam"
      %a.partner{href: "http://www.vivareal.com.br", target: "_blank", title: "Viva Real"}
        = image_tag "partners/vivareal.png", alt: "Logo Viva Real"
      %a.partner{href: "http://ymee.us/", target: "_blank", title: "Ymee"}
        = image_tag "partners/ymee.png", alt: "Logo Ymee"

  .row.text-center
    .col-md-12
      %a.btn.btn-md.btn-primary.uppercase{href: "mailto:info@reprograma.com.br?subject=Quero ser parceiro do Reprograma", title: "Seja nosso parceiro"} Quero ser parceiro

%section#support.container-fluid.support
  .row.text-center
    .col-md-12
      %strong Apoie o projeto e ajude o desenvolvimento profissional de mulheres
      %span
        %a.btn.btn-md.btn-inverse.uppercase{href: "https://www.catarse.me/reprograma", target: "_blank", title: "Faça uma doação pelo Catarse"} Quero apoiar

.container-fluid.sub-support
  .row.text-center
    .col-md-12
      %p
        %span &hearts;
        A todas as pessoas e empresas que nos apoiam, o nosso muito obrigado!
        %span &hearts;

%footer.container-fluid
  .row.footer
    .col-md-8.col-md-offset-2
      .row
        .col-md-6
          %p.uppercase
            %i= image_tag "icons/icon-mail.png"
            %span.icon-content info@reprograma.com.br
        .col-md-6
          %a.uppercase.pull-right.facebook{href: "https://www.facebook.com/ReprogramaBrasil/?fref=ts", title: "Curta a Reprograma no Facebook", target: "_blank"}
            %i= image_tag "icons/icon-fb.png", alt: "Facebook Logo"
            %span.icon-content fb.reprograma/reprogramabrasil
  = google_analytics_tag
